/************************
	   -公共样式-
    最新最全最好的Bootstrap模板：http://www.bootstrapmb.com
************************/
html,body{height: 100%; background: #f9f9f9; /*overflow: -webkit-paged-y;*/ /*overflow: hidden;*/}
.inner{width: 97%;margin: 0 auto;position: relative;}

#top{position: fixed;width: 100%;height: 85px;top: 0;left: 0;z-index: 15;}
#top .topLogo{width: 240px;height: 85px;position: absolute;top: 0;left: 0;background: #333;}
#top .topLogo img{width: 100%;}
/*#top .topBar{padding-left: 240px;}*/
#top .topBar h4{float: left;line-height: 85px;font-size: 16px;}
#top .topBar .topItem{float: right;margin-left: 50px;height: 85px;position: relative;}
#top .topBar .topItem h3{line-height: 85px;}
#top .topBar .topItem h3 a{display: block;}
#top .topBar .topItem h3 a i{display: inline-block;width: 7px;height: 4px;vertical-align: top;background: url(../images/icos.png) no-repeat;margin: 40px 0 0 8px;transition: 0.3s;}
#top .topBar .topItem .dropdown{width: 180px;position: absolute;top: 85px;right: 0;border: 1px solid #ddd;background: #fff;box-shadow: 0 0 5px #eee;display: none;}
#top .topBar .topItem .dropdown a{display: block;padding: 8px 20px;line-height: 22px;border-bottom: 1px solid #ddd;}
#top .topBar .topItem .dropdown a:last-child{border: none;}
#top .topBar .userBar h3{float: left;}
#top .topBar .userBar h3 a{color: #11aee8;}
#top .topBar .userBar h3 a i{background-position: 0 -4px;}
#top .topBar .userBar .portrait{width: 60px;height: 60px;border-radius: 50%;overflow: hidden;margin: 10px 8px 0 0;}

#menu{position: fixed;width: 240px;height: 100%;box-sizing: border-box;padding-top: 96px;background: #171719;z-index: 13;}
#menu ul{height: 100%;overflow: auto;}
#menu ul li{height: 58px;border-bottom: 1px solid #333;}
#menu ul li a{display: block;border-left: 3px solid #171719;padding-left: 50px;color: #808080;line-height: 58px;}
#menu ul li a i{display: inline-block;vertical-align: top;width: 20px;height: 20px;margin: 19px 12px 0 0;background: url(../images/menu_ico.png) no-repeat;}
#menu ul li a i.ico1{background-position: 0 0;}
#menu ul li a i.ico2{background-position: -20px 0;}
#menu ul li a i.ico3{background-position: -40px 0;}
#menu ul li a i.ico4{background-position: -60px 0;}
#menu ul li a i.ico5{background-position: -80px 0;}
#menu ul li a i.ico6{background-position: -100px 0;}
#menu ul li a i.ico7{background-position: -120px 0;}
#menu ul li a i.ico8{background-position: -140px 0;}
#menu ul li a i.ico9{background-position: -160px 0;}
#menu ul li a i.ico10{background-position: -180px 0;}
#menu ul li a i.ico11{background-position: -200px 0;}
#menu ul li a i.ico12{background-position: -220px 0;}
#menu ul li.on a{color: #fff; border-left: 3px solid #0da8e5;}
#menu ul li.on a i.ico1{background-position: 0 -20px;}
#menu ul li.on a i.ico2{background-position: -20px -20px;}
#menu ul li.on a i.ico3{background-position: -40px -20px;}
#menu ul li.on a i.ico4{background-position: -60px -20px;}
#menu ul li.on a i.ico5{background-position: -80px -20px;}
#menu ul li.on a i.ico6{background-position: -100px -20px;}
#menu ul li.on a i.ico7{background-position: -120px -20px;}
#menu ul li.on a i.ico8{background-position: -140px -20px;}
#menu ul li.on a i.ico9{background-position: -160px -20px;}
#menu ul li.on a i.ico10{background-position: -180px -20px;}
#menu ul li.on a i.ico11{background-position: -200px -20px;}
#menu ul li.on a i.ico12{background-position: -220px -20px;}

#footer {width: 100%; height: 70px; margin-top: 30px; line-height: 70px; text-align: center; color: #fff; background: #333333;}

#main{padding: 85px 0 0 0; color: #4C4C4C; min-width: 788px;}
.content {width: 100%; height: 100%;}
.contBox {width: 97%; margin: 0 auto; background: #fff; }
.contBox.bgff {background: #F9F9F9;}
.contBox.bgf9 {background: #F9F9F9;}
.contW {padding: 16px 30px 25px 30px;}
.topLogo{display: block;width: 240px;position: absolute;left: 0;top: 0;background: #333333;}

/************************
	   -首页样式-
************************/
.indexBanner img{width: 100%;}

.balanList {width: 100%; margin-bottom: 20px;}
.balanList li {float: left; width: 49%; height: 200px; margin-left: 2%; background: #f9f9f9; border: 1px solid #e8e8e8; box-sizing: border-box; position: relative;}
.balanList li:first-child {margin-left: 0;}
.balanList li a {display: block;}
.balanList li h2 {padding-left: 18px; line-height: 50px; color: #4c4c4c;}
.balanList li p {text-align: center; line-height: 80px; font-size: 58px; color: #b2b2b2;}
.balanList li p span {color: #ff7c0a;}
.balanBottom {width: 100%; height: 42px; font-size: 16px; line-height: 42px; text-align: center; position: absolute; left: 0; bottom: 0;}
.balanBottom a {width: 100%; height: 100%; color: #fff; background: #11aee8;}
.balanBottom a:hover {background: #0b92c4;}
.balanBottomR a {float: left; width: 50%;}
.balanBottomR a:first-child {background: #0e9ed3;}
.balanBottomR a:first-child:hover {background: #0b92c4;}
.userList {margin-bottom: 20px;}
.userList li {float: left; width: 23.5%; height: 158px; margin-left: 2%; text-align: center; background: #F9F9F9;}
.userList li:first-child {margin-left: 0;}
.userList li a {display: block; width: 100%; height: 100%;}
.userList li a:hover {background: #f4f4f4;}
.userList li p {padding-top: 15px; font-size: 68px; line-height: 90px; color: #11aee8;}
.userList li h3 {margin-top: 8px; line-height: 40px; font-size: 16px; color: #4c4c4c;}
.news {width: 100%; margin-bottom: 20px;}
.newsTit {width: 100%; height: 48px; line-height: 48px; font-size: 22px; color: #fff; background: #13aeef; border-top-left-radius: 3px; border-top-right-radius: 3px;}
.newsTit h2 {padding-left: 20px;}
.newsW {padding: 10px 30px 18px 30px; background: #F9F9F9; border: 1px solid #e8e8e8; border-top: none;}
.newsW ul li {width: 100%; height: 45px; line-height: 45px; font-size: 16px; border-bottom: 1px dashed #ededed;}
.newsW ul li a {display: block; width: 100%; height: 100%;}
.btnSj, .newsW ul li p {display: inline-block; *display: inherit; *zoom: 1; float: none; vertical-align: middle;}
.btnSj {width: 12px; height: 100%; background: url(../images/btn_sj.png) no-repeat left center;}
.promo {padding: 10px 10px 20px 10px; text-align: center; background: #F9F9F9; border: 1px solid #e8e8e8;}
.promo h2 {line-height: 48px; font-size: 24px;}
.promo .promoW {width: 70%; height: auto; padding: 12px 10px; margin: 0 auto; line-height: 28px; font-size: 24px; background: #fff; border: 1px solid #ff7c0a;}
.promo p {line-height: 40px; color: #ff7c0a;}

/************************
	   -内页样式-
************************/
/*获取信息*/
.informHead {height: 70px; margin: 0 0 20px 0; line-height: 70px; text-align: center; font-size: 30px; background: #e1f1f7; border: 1px solid #dcdcdc;}
.informW {padding: 15px 0 2px 14.555%; margin-bottom: 20px; background: #fff; border: 1px solid #eeeeee;}
.informCont {width: 930px; height: auto; /*margin-left: 14.555%;*/}
.informInner {width: 100%; height: auto; margin-bottom: 12px;}
.informInner:after {display: block; clear: both; content: ""; overflow: hidden;}
.informLeft {float: left; width: 80px; height: 40px; text-align: right; line-height: 40px; font-size: 16px;}
.informCenter {float: left; width: 33.222%; margin-left: 15px; position: relative;}
.informRight {float: left; width: 30%; min-width: 280px; margin-left: 25px; line-height: 40px; color: #AE1B21;}
.informRight p {width: 100%; font-size: 12px; color: #ff0000;}
.informCenter input {width: 100%; height: 40px; padding-left: 15px; line-height: 40px; border: 1px solid #d2d2d2; box-sizing: border-box; vertical-align: top;}
.informCenter span,
.informState select,
.informStateW,
.informStateW em {display: inline-block; *display: inherit; *zoom: 1; float: none;}
.informRight input.search {width: 74.222%; min-width: 220px; height: 40px; padding-left: 15px; line-height: 40px; font-size: 14px; border: 1px solid #d2d2d2; box-sizing: border-box;	}
.informRight input#searchBtn {width: 60px; height: 40px; background: #11aee8 url(../images/search.png) no-repeat center; vertical-align: top; cursor: pointer; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.informRight input#searchBtn:hover {background-color: #0E9ED3;}
.selectBtn {width: 30px; height: 30px; position: absolute; right: 5px; top: 50%; margin-top: -15px; background: url(../images/btn_sj_inform.png) no-repeat center; z-index: 22; cursor: pointer;}
.selectBtn.active {background: url(../images/btn_sj_inform_a.png) no-repeat center;}
.formSelect {display: none; width: 100%; height: auto; border: 1px solid #eee; background: #fcfcfc; box-sizing: border-box; position: absolute; top: 40px; left: 0; z-index: 33;}
.formSelect ul {padding: 0 10px;}
.formSelect ul li {height: 38px; line-height: 38px; padding-left: 8px; color: #787878; border-bottom: 1px dashed #eee;}
.informDhBox {float: left; width: 48%; height: 40px; margin-left: 4%; position: relative;}
.informDhBox:first-child {margin-left: 0;}
.informW h2 {margin-bottom: 10px; font-size: 16px; line-height: 30px;}
.informState {width: 44.333%; height: 40px; min-width: 356px;}
.informState span {vertical-align: top; width: 70px; height: 40px; margin-left: 25px; line-height: 40px; font-size: 16px;}
.informStateW {width: 35.888%; height: 40px; line-height: 40px; position: relative;}
.informStateW em {width: 36px; height: 38px; position: absolute; right: 1px; top: 50%; margin-top: -19px; background: #fff url(../images/btn_sj_inform.png) no-repeat center; z-index: 66; cursor: pointer;}
.informState select {width: 100%; height: 100%; padding: 0 0 0 15px; line-height: 40px; color: #585656; box-sizing: border-box; border: 1px solid #d2d2d2; position: absolute; left: 0; top: 0; z-index: 23; appearance:none;-moz-appearance:none;-webkit-appearance:none;}
.informState select::-ms-expand { display: none; }
.informList {margin: 5px 0 15px 0;}
.informList li {float: left; width: 140px; height: 38px; margin-left: 20px; margin-top: 10px; /*margin-left: 1.46%;*/ line-height: 38px; text-align: center; border-radius: 4px;}
.informList li:first-child {margin-left: 0;}
.informList li a {display: block; color: #fff; background: #11AEE8; border-radius: 4px;}
.informList li a:hover {background: #0B92C4;}
.block {height: 90px; border: 1px solid #e5e5e5;}
.block textarea {width: 100%; height: 100%; padding: 15px; box-sizing: border-box;}
.informBottom {height: 40px; margin-top: 10px; line-height: 40px;}
.informBottomL {float: left; color: #808080;}
.informBottomL input {width: 15px; height: 15px; margin-left: 28px; -webkit-appearance: checkbox; vertical-align: middle; }
.informBottomL input:first-child {margin-left: 0;}
.informBottom a {display: block; float: right; width: 160px; height: 40px; text-align: center; color: #fff; background: #12BE16; border-radius: 20px;}
.informBottom a:hover {background: #07990B;}

.informRightDh input {width: 74.222%; height: 40px; padding-left: 15px; line-height: 40px; border: 1px solid #d2d2d2; box-sizing: border-box;}
.informInnerBeizhu .informLeft,
.informInnerBeizhu .informCenter,
.informInnerBeizhu .informRight {height: 16px; line-height: 16px;}

/*项目列表*/
.prolistHead {margin: 15px 0; font-size: 16px;}
.prolistHead a {float: left; width: 90px; height: 38px; margin-left: 30px; padding-left: 50px; line-height: 38px; color: #adadad; background-color: #fff; background-repeat: no-repeat; border: 1px solid #ececec; border-radius: 3px;}
.prolistHead a:first-child {margin-left: 0;}
.prolistHead a.active {color: #fff; border: 1px solid #11AEE8; background-color: #11AEE8;}
.prolistHead a.prolist1 {background-image: url(../images/pro_list1.png); background-position: 20px center;}
.prolistHead a.prolist1.active {background-image: url(../images/pro_list1_a.png);}
.prolistHead a.prolist2 {background-image: url(../images/pro_list2.png); background-position: 20px center;}
.prolistHead a.prolist2.active {background-image: url(../images/pro_list2_a.png);}
.prolistSearch {width: 100%; height: 40px; line-height: 40px; margin-bottom: 15px;}
.prolistSearchW {float: left; height: 100%; margin-right: 35px; position: relative;}
.prolistSearchW input {width: 290px; height: 40px; line-height: 40px; padding-left: 12px; background: #fff; border: 1px solid #e5e5e5; box-sizing: border-box; vertical-align: top;}
.prolistSearchW input.searchBtn {width: 60px; height: 40px; margin-left: -5px; background: #11AEE8 url(../images/search.png) no-repeat center;}
.prolist table {/*width: 100%;*/font-size: 16px; background: #fff; border: 1px solid #ececec; border-radius: 4px;}
.prolist table th {height: 46px; color: #fff; background: #11AEE8; border-left: 1px solid #a8d7e8;}
.prolist table th:first-child {border-left: none;}
.prolist table td {height: 52px; text-align: center; border-left: 1px solid #f1f1f1; border-top: 1px solid #f1f1f1;}
.prolist table td:first-child {border-left: none; }
.prolist table span {display: inline-block; width: 134px; height: 32px; line-height: 32px; border-radius: 16px; color: #c0c0c0; border: 1px solid #e5e5e5; cursor: pointer; *display: inline; *zoom: 1; float: none; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;} 
.prolist table span:hover {background: #fcfcfc;}
.prolist table span.active {color: #fefefe; background: #ff7c0a; border: 1px solid #ff7c0a;}
.prolist table tr:hover {background: #fafafa;}
.prolist table p {/*width: 490px; */line-height: 30px;}

.page {width: 100%; height: 36px; margin:25px 0; text-align: center; line-height: 36px; color: #333333;}
.page em {display: inline-block; height: 100%; margin: 0 3px; padding: 0 15px; background: #fff; border: 1px solid #e5e5e5; vertical-align: top; cursor: pointer;}
.page em:hover {background: #fef6ef;}
.page em.active {color: #ff7c0a; border: 1px solid #ff7c0a; background: #fff;}
.page i {display: inline-block; height: 100%; margin: 0 3px; padding: 0 16px; background: #fff; border: 1px solid #e5e5e5; cursor: pointer;}
.page i:hover {background: #fef6ef;}
.page i.active {color: #ff7c0a; background: #fff; border: 1px solid #ff7c0a;}
.page a {display: inline-block; height: 100%; margin: 0 3px; padding: 0 12px; color: #202020; background: #fff; border: 1px solid #e5e5e5; zoom: 1; *display:inline; float:none;}
.page a:hover {background: #fef6ef;}
.page a.active {color: #ff7c0a; border: 1px solid #ff7c0a; background: #fff;}
.page p {display: inline-block; height: 100%; margin: 0 20px; zoom: 1; *display:inline; float:none;}	
.page input {display: inline-block; width: 112px; height: 36px; padding-left: 10px; line-height: 36px; background: #fff; border: 1px solid #e5e5e5; box-sizing: border-box; vertical-align: top;}
.page input.searchBtn {width: 52px; padding: 0; text-align: center; color: #fff; background: #ff7c0a; cursor: pointer; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.page input.searchBtn:hover {background: #ec730a;}

/*项目列表-申请新项目*/
.prolistApplyH {}
.prolistApplyH ul:after {display: block; clear: both; content: ""; overflow: hidden;}
.prolistApplyH ul li {float: left; width: 150px; height: 45px; margin-right: 1px; line-height: 45px; font-size: 16px; text-align: center; border: 1px solid #e5e5e5; border-bottom: none; border-top-left-radius: 4px; border-top-right-radius: 4px; overflow: hidden;}
.prolistApplyH ul li a {display: block; width: 100%; height: 100%; color: #999999; background: #fff;}
.prolistApplyH ul li i {display: inline-block; width: 25px; height: 25px; margin-right: 2px; vertical-align: middle; background: url(../images/pro_app_icon.png) no-repeat;}
.prolistApplyH ul li i.proAppIcon1 {}
.prolistApplyH ul li i.proAppIcon2 {background-position: -25px 0;}
.prolistApplyH ul li i.proAppIcon3 {background-position: -50px 0;}
.prolistApplyH ul li.active {border-color: #11AEE8;}
.prolistApplyH ul li.active a {color: #fff; background: #11AEE8;}
.prolistApplyH ul li.active i.proAppIcon1 {background-position: 0 -25px;}
.prolistApplyH ul li.active i.proAppIcon2 {background-position: -25px -25px;}
.prolistApplyH ul li.active i.proAppIcon3 {background-position: -50px -25px;}
.prolistApplyW {padding: 25px 0 20px 0; border: 1px solid #ececec; background: #fff;}
.prolistApplyInner {height: 40px; margin-bottom: 20px; line-height: 40px;}
.prolistApplyInner h2 {float: left; width: 132px; font-size: 16px; font-weight: bold; text-align: right; color: #4d4d4d;}
.prolistApplyCont {float: left; height: 40px;}
.prolistApplyCont input {width: 438px; height: 40px; margin-left: 18px; padding-left: 15px; line-height: 40px; border: 1px solid #e5e5e5; box-sizing: border-box;}
.prolistApplyCont input.proApplyInput {width: 106px;}
.prolistApplyCont span {margin-left: 12px; font-size: 16px; font-weight: bold; color: #4d4d4d;}
.prolistApplytxt {padding: 0 20px 0 70px;}
.line {width: 100%; height: 2px; margin: 30px 0 15px 0; background: #f9f9f9;} 
.prolistApplytxt h2 {line-height: 40px; font-size: 16px; font-weight: bold; color: #4d4d4d;}
.prolistApplytxt textarea {width: 790px; height: 100px; padding: 15px; background: #FCFCFC; border: 1px solid #e5e5e5; box-sizing: border-box;}
.prolistApplytxt p {line-height: 40px; color: #ff0000;}
input#prolistApplySure {width: 160px; height: 40px; margin-top: 10px; line-height: 40px; text-align: center; color: #fff; background: #12be16; border-radius: 20px; cursor: pointer; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
input#prolistApplySure:hover {background: #07990b;}

/*项目列表-申请新项目-发送短信*/
.prolistApplytxtS {padding: 0 20px 0 70px;}
.line1 {margin: 28px 0 10px 0;}
.prolistApplySms {width: 96.888%;}
.prolistApplySmsW {width: 48.222%;}
.prolistApplySmsL {float: left;}
.prolistApplySmsR {float: right;}
.prolistApplySmsW textarea {width: 100%; box-sizing: border-box;}

/*专属对接*/
.buttHead {margin: 15px 0;}
.buttHead li {float: left; width: 140px; /*width: 17.322%;*/ height: 38px; margin-left: 30px; line-height: 38px; text-align: center; border: 1px solid #ececec; font-size: 16px; border-radius: 4px; overflow: hidden;}
.buttHead li:first-child {margin-left: 0;}
.buttHead li a {display: block; color: #adadad; background: #fff;}
.buttHead li i {display: inline-block; width: 25px; height: 25px; margin-right: 3px; background: url(../images/butt_icon.png) no-repeat; vertical-align: middle; *display: inherit; *zoom: 1; float: none;}
.buttHead li i.buttIcon2 {background-position: -25px -2px;}
.buttHead li i.buttIcon3 {background-position: -50px 0;}
.buttHead li i.buttIcon4 {background-position: -75px 0;}
.buttHead li.active a {color: #fff; background: #11AEE8;}
.buttHead li.active i.buttIcon1 {background-position: 0 -25px;}
.buttHead li.active i.buttIcon2 {background-position: -25px -25px;}
.buttHead li.active i.buttIcon3 {background-position: -50px -25px;}
.buttHead li.active i.buttIcon4 {background-position: -75px -25px;}
.buttOper {width: 100%; height: 40px; line-height: 40px;}
.buttProject, .buttSearch, .buttChoose {float: left; }
.buttOper input {/*width: 290px;*/ width: 63.44%; height: 40px; line-height: 40px; background: #fff; box-sizing: border-box; padding-left: 15px; border: 1px solid #e5e5e5; vertical-align: middle;}
.buttProject {width: 19%; height: 40px; margin-right: 35px;}
.buttProject input {padding-right: 25px;}
.buttSearch {/*width: 350px;*/ width: 28%; margin-right: 45px;}

.searchBtn {vertical-align: top; cursor: pointer; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}

.buttSearch .searchBtn {width: 58px; height: 40px; margin-left: -5px; background: #11AEE8 url(../images/search.png) no-repeat center; }
.buttSearch .searchBtn:hover {background-color: #0E9ED3;}
.buttChoose {width: 310px; height: 28px; margin-top: 6px; line-height: 28px;}
.buttChoose span {width: 130px; height: 28px; text-align: center; color: #ff7c0a; border: 1px solid #ff7c0a; border-radius: 14px; cursor: pointer; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.buttChoose span:hover {background: #fff;}
.buttChoose span.active {color: #fff; background: #ff7c0a;}
.buttChoose span.buttChooseL {float: left;}
.buttChoose span.buttChooseR {float: right;}
.buttW {margin-top: 18px;}
.buttW table i {display: inline-block; width: 18px; height: 18px; margin: 0 4px; border-radius: 3px; border: 1px solid #dcdcdc; vertical-align: middle; zoom: 1; *display:inline; float:none;} 
.buttW table i.active {background: #12be16 url(../images/butt_dui.png) no-repeat center;}
.buttW em {margin: 0 5px;}
.buttW u {display: inline-block; width: 25px; height: 20px; margin: 0 10px; background: url(../images/table_dui.png) no-repeat center; vertical-align: middle;}



/*selectDown*/
.selectW {position: relative;}
.selectW input {width: 100%; height: 100%; box-sizing: border-box;}
.selectW .selBtn {display: inline-block; width: 23px; height: 100%; background: url(../images/btn_sj_inform.png) no-repeat left center; position: absolute; top: 0; right: 0; *display: inherit; *zoom: 1; float: none;}
.selectW .selBtn.active {background: url(../images/btn_sj_inform_a.png) no-repeat left center;}
.selectDown {display: none; position: absolute; width: 100%; height: auto; background: #f6f6f6; top: 40px; left: 0; z-index: 88;}
.selectDown ul {padding: 0 15px; border: 1px solid #e5e5e5;}
.selectDown ul li {height: 38px; line-height: 38px; padding-left: 8px; color: #727272; border-bottom: 1px dashed #dad7d7;}
.selectDown ul li:hover {background: #f2f2f2;}


/*专属对接-我的对接*/
.buttMyHL {float: left; width: 50%; min-width: 512px;}
.buttMyHR {float: right; width: 45.222%; margin: 15px 0;}
.buttMyProj {float: left; width: 35.552%; height: 40px;}
.buttMyProj input {padding: 0 23px 0 15px; background: #fff; border: 1px solid #e5e5e5;}
.buttMySearch {float: left; width: 57.888%; height: 40px; margin-left: 4.22%; line-height: 40px;}
.buttMySearch input {width: 60%; height: 100%; padding-left: 15px; line-height: 40px; border: 1px solid #e5e5e5; background: #fff; box-sizing: border-box;}
.buttMySearch input.searchBtn {width: 58px; margin-left: -5px; background: #11AEE8 url(../images/search.png) no-repeat center;}
.buttMySearch input.searchBtn:hover {background-color: #0B92C4;}
.buttMy {height: 80px; border: 1px solid #e5e5e5; background: #fff;}
.buttMyL {float: left; width: 48%; min-width: 416px; height: 40px; margin: 20px 0 0 20px; line-height: 40px;}
.buttMyL input.buttMyLSear {/*width: 208px;*/ width: 26.88%; height: 40px; padding-left: 12px; line-height: 40px; border: 1px solid #e5e5e5; box-sizing: border-box;}
.buttMyL .buttMyLBtn {display: inline-block; /*width: 124px;*/ width: 15.888%; min-width: 90px; height: 36px; margin-left: 5px; line-height: 36px; text-align: center; color: #fff; background: #ff7c0a; border-radius: 4px; vertical-align: middle;} 
.buttMyL .buttMyLBtn:hover {background: #df6d0a;}
.buttMyL input.buttMyLChoose {width: 15px; height: 15px; margin: 0 3px 0 12px; -webkit-appearance: checkbox; vertical-align: middle;}
.buttMyR {float: right; width: 50%; margin-top: 22px;}
.buttMyR ul {}
.buttMyR ul:after {display: block; clear: both; overflow: hidden; content: "";}
.buttMyR ul li {float: left; width: 17.222%; height: 38px; margin-left: 2%; line-height: 38px; text-align: center; background: #11AEE8; border-radius: 4px; overflow: hidden;}
.buttMyR ul li:first-child {margin-left: 0;}
.buttMyR ul li a {display: block; width: 100%; height: 100%; color: #fff;}
.buttMyR ul li a:hover {background: #0B92C4;}

.buttMyHL ul li {width: 18.322%; margin-left: 3%;} 
.buttMyHL ul li:first-child {margin-left: 0;}

/*专属对接-我的对接-对接统计*/
.buttData {height: 40px; margin: 15px 0; line-height: 40px;}
.buttData span, .buttData i {display: inline-block; vertical-align: top; *display: inherit; *zoom: 1; float: none;}
.buttData span {margin-left:20px; font-size: 16px; color: #585858;}
.buttData i {color: #ff7c0a;}
.buttData input.buttDataTxt {width: 190px; height: 40px; margin: 0 15px; padding-left: 10px; line-height: 40px; background: #fff; box-sizing: border-box; border: 1px solid #e5e5e5;}
.buttData input.buttDataBtn {width: 124px; height: 36px; margin-left: -8px; margin-top: 2px; line-height: 36px; text-align: center; font-weight: bold; color: #fff; background: #ff7c0a; border-radius: 4px; vertical-align: top;}
.buttData input.buttDataBtn:hover {background: #ee7307;}

/*专属对接-自动对接*/
.buttAuto {float: left; width: 162px; height: 36px; margin-top: 3px; line-height: 36px; text-align: center; color: #fff; background: #FF7C0A; border-radius: 4px;}
.buttAuto:hover {color: #fff; background: #ee7307;}

/*卡商黑名单*/
.blacklist {margin: 15px 0;}
.blacklistChoose {width: 340px; margin-top: 3px; margin-left: 15px;}
.blacklistChoose a {float: left; width: 142px; height: 34px; margin-right: 16px; line-height: 34px; text-align: center; color: #ff7c0a; border: 1px solid #ff7c0a; border-radius: 4px;}
.blacklistChoose a:hover {color: #fff; background: #ff7c0a;}

/*12明细统计*/
.detailH span {margin-left: 0;}
.detail {height: 100px; background: url(../images/detail_bg_bg.jpg) repeat-x center;}
.detail ul {width: 100%; height: 100%;}
.detail ul:after {display: block; clear: both; overflow: hidden; content: "";}
.detail ul li {width: 50%; height: 100%; float: left; text-align: center; color: #fff; box-sizing: border-box; border-left: 2px solid #4ebfea;}
.detail ul li:first-child {border-left: none;}
.detail ul li h2 {margin-top: 8px; line-height: 32px; font-size: 16px; font-weight: bold;}
.detail ul li span,
.detailInner a,
.detailInner i {display: inline-block; *display: inherit; *z-index: 1; float: none;}
.detail ul li span {width: 40px; height: 2px; background: #fff; vertical-align: top;} 
.detailInner {height: 30px; margin-top: -4px; line-height: 30px;}
.detailInner a {height: 28px; padding: 0 22px; margin: 0 20px; line-height: 28px; color: #fff; border: 1px solid #fff; border-radius: 14px; vertical-align: top;}
.detailInner a:hover {color: #11AEE8; background: #fff;}
.detailInner a.active {color: #11AEE8; background: #fff;}
.detailInner i {width: 1px; height: 20px; background: #fff; vertical-align: middle;}

/*13明细统计-提现*/

/*13明细统计-下线*/
.detailOffline {display: inline-block; width: 136px; height: 40px; margin-right: 5px; vertical-align: top; *display: inline; *zoom: 1; float: none;}
.detailOffline input {padding-left: 10px; padding-right: 23px; background: #fff; border: 1px solid #e5e5e5;}
.detailOfflineH input.buttDataTxt {width: 148px; margin: 0 10px;}
.detailOfflineH input.buttDataBtn {width: 114px;}


/*13明细统计-短信记录*/
.detailSms {width: 205px; margin-left: 3%;}
.detailSmsH a {display: inline-block; width: 124px; height: 34px; margin-left: 2px; margin-top: 2px; text-align: center; line-height: 34px; color: #4d4d4d; background: #e6e6e6; border: 1px solid #dcdcdc; border-radius: 4px; vertical-align: top; *display: inline; *zoom: 1; float: none;}
.detailSmsH a:hover {color: #fff; background: #FF7C0A;}

/*16充值提现*/
.moneyBox {padding: 30px 30px 60px 30px; margin-top: 20px; background: #fff; border: 1px solid #ececec;}
.moneyTit {width: 100%; height: 41px; border-bottom: 1px solid #E5E5E5;}
.moneyTit ul:after {display: block; clear: both; overflow: hidden; content: "";}
.moneyTit ul li {float: left; width: 138px; height: 40px; margin-left: -1px; line-height: 40px; font-size: 16px; text-align: center; border: 1px solid #e5e5e5; background: #F9F9F9;}
.moneyTit ul li:first-child {margin-left: 0;}
.moneyTit ul li a {display: block; color: #4d4d4d;}
.moneyTit ul li.active {}
.moneyTit ul li.active a {margin-top: -1px; background: #fff; border-bottom: 1px solid #fff; border-top: 2px solid #11AEE8;}
.moneyBox h3 {width: 100%; margin: 30px 0 35px 0; font-size: 16px; line-height: 40px;}
.moneyBox h3 input {width: 206px; height: 40px; margin: 0 15px 0 12px; line-height: 40px; padding-left: 15px; font-size: 16px; border: 1px solid #E5E5E5; box-sizing: border-box;}
.moneyBox a.cz {display: block; width: 204px; height: 38px; margin-bottom: 30px; line-height: 38px; text-align: center; color: #fff; background: #12be16;}
.moneyBox a.cz:hover {background: #07990B;}
.moneyW {padding: 0 18px 25px 18px; background: #F9F9F9; border: 1px solid #E5E5E5;}
.moneyW h4 {margin-top: 10px; line-height: 30px; font-size: 16px; color: #ff0000;}
.moneyW p {line-height: 30px;}
.moneyW .moneyLine {width: 100%; height: 2px; margin: 10px 0 12px 0; background: #ebebeb;}
.moneyW textarea {width: 815px; height: 76px; padding: 10px 15px; margin: 12px 0 0 30px; background: #fff; border: 1px solid #E5E5E5; box-sizing: border-box;}

.moneyBox1 {padding: 30px 30px 120px 30px;}

/*个人中心*/
.personBox {padding: 18px 30px 25px 30px; margin-top: 20px; background: #fff; border: 1px solid #ececec;}
.personTit {height: 38px; line-height: 38px; text-align: center;}
.personTit a {display: inline-block; width: 140px; height: 38px; margin: 0 12px; color: #adadad; font-size: 16px; border: 1px solid #ececec; border-radius: 4px; *display: inline; *zoom: 1; float: none;} 
.personTit a.active {color: #fff; background: #11AEE8;}
.personTit a:hover {color: #fff; background: #11AEE8;}
.personHead {padding-bottom: 0px; margin-top: 10px; border-bottom: 1px solid #eee;}
.personHeadL {float: left; width: 125px; text-align: center;}
.personHeadL p {color: #11AEE8; line-height: 40px;}
.personPic {height: 125px; border-radius: 4px; overflow: hidden;} 
.personPic img {width: 100%;}
.personPicChage {width: 100%; height: 35px; position: relative; overflow: hidden; cursor: pointer;}
.personPicChage input {width: 100%; height: 100%; position: absolute;}
.personPicChage input#file {z-index: 99; font-size: 100px; right: 0; left: 0; opacity:0; filter:alpha(opacity=0); cursor: pointer;}
.personPicChage input#sub {z-index: 98; font-size: 14px; color: #FF0000; line-height: 35px; text-align: center; top: 0; left: 0;}
.personHeadR {float: left; margin-left: 20px; padding-top: 35px;}
.personHeadR p {line-height: 30px;}
.personW {padding-left: 15px;}
.personW p {height: 35px; line-height: 35px; margin-bottom: 5px;}
.personW p span {display: inline-block; height: 100%; vertical-align: top; *display: initial; *zoom: 1; float: none;}
.personW p span.personWLeft {width: 105px;}
.personW p span.personWLeft1 {width: 80px;}
.personW p span.personWCenter {width: 206px; color: #c1c1c1;}
.personW p span.personWCenter em {margin-left: 10px;}
.personW p span.personWCenter1 {width: auto;}
.personW p span.personRight {margin-left: 12px;}
.personW p span.personRight a {color: #11AEE8;}
.personW p input {width: 206px; height: 35px; padding-left: 10px; line-height: 35px; border: 1px solid #E5E5E5; box-sizing: border-box;}
.personW p input.active {border: 1px solid #11AEE8;}
.personSure {display: block; width: 202px; height: 38px; margin-top: 10px; line-height: 38px; color: #fff; background: #12be16; cursor: pointer; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.personSure:hover {background: #07990B;}

/*20个人中心-修改密码*/
.personPassBox {padding: 22px 0 40px 0;}
.personPassUl {margin-top: 45px;}
.personPassUl li {float: left; width: 50%; height: 480px;}
.personPassUl li .personW {height: 100%;}
.personPassUl li:first-child .personPassW {height: 100%; font-size: 16px; color: #7f7f7f; border-right: 1px solid #dcdcdc;}
.personPassW h3 {padding-left: 7.46%; margin-bottom: 45px; line-height: 66px; font-size: 18px; font-weight: bold; text-align: center; color: #666;}
.personPassW p {width: 100%; height: 48px; margin-bottom: 25px; line-height: 48px;}
.personPassW p span {display: inline-block; width: 31.56%; height: 100%; text-align: right; vertical-align: top; *display: inline; *zoom: 1; float: none;} 
.personPassW p input {width: 39.42%; height: 48px; margin-left: 25px; padding-left: 15px; font-size: 16px; border: 1px solid #d2d2d2; box-sizing: border-box;}
.personPassW p input.active {border: 1px solid #11AEE8;}
.personPassW p.sure {margin-top: 42px;}
.personPassW p.sure input {padding: 0; text-align: center; color: #fff; background: #11AEE8; border: 1px solid #11AEE8; border-radius: 4px; cursor: pointer; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.personPassW p.sure input:hover {background: #0B92C4;}

/*21积分说明*/
.interbox{background: #FFFFFF;margin-top: 20px;padding: 0 23px 15px;box-sizing: border-box;margin-bottom: 20px;border-bottom: 1px solid #EEEEEE;}
.inte_tit{font-size: 16px;color: #4b4b4b;font-weight: 900;padding: 15px 0 8px;margin-bottom: 18px; box-sizing: border-box;border-bottom: 1px solid #eeeeee;}
.interbox li{font-size: 16px;color: #919191;margin-top: 8px;}
.inte_list{width: 100%;background: #FFFFFF;}
.inte_list div{width: 25%;float: left;box-sizing: border-box;text-align: center;border-right: 1px solid #f2f2f2;}
.inte_list li:first-child{background: #11aee8;color: #FFFFFF;height: 46px;line-height: 46px;}
.inte_list li:first-child:hover {background: #11AEE8;}
.inte_list li{border: 1px solid #F1F1F1;border-top:none ;height: 54px;line-height: 54px;font-size: 16px;color: #4c4c4c;box-sizing: border-box;}
.inte_list li:hover {background: #FAFAFA;}

/*22api*/
.apibox{width: 100%;background: #FFFFFF;padding: 25px 18px;box-sizing: border-box;margin-top: 20px;}
.apinav{width: 223px;/*height: 470px;*/height: 100%;  float: left;padding: 0 28px;box-sizing: border-box;background: #fcfcfc;text-align: right;}
.apitit{padding: 15px 0;box-sizing: border-box;color: #00adef;font-size: 24px;margin-bottom: 0;}
.apinav a{display: block;transition: all .3s ease-in;width: 100%;padding: 15px 0 15px;box-sizing: border-box;font-size: 16px;color: #4d4d4d;border-bottom: 1px solid #f0f0f0;}
.apinav a:hover{color: #00ADEF;}.apinav li:last-child a{border: none;padding-bottom: 30px;}
.apinav .active a{color: #00ADEF;}
.apitext{width: calc(100% - 274px);height: 100%; float: right;}
.apitext h1{font-size: 24px;color: #4c4c4c;padding: 15px 0 8px;box-sizing: border-box;border-bottom: 1px solid #e6e6e6;}
.apitext h2{font-size: 18px;color: #4c4c4c;margin-top: 25px; padding: 0 20px;box-sizing: border-box;}
.apitext h3{font-size: 18px;color: #4c4c4c;margin-top: 20px; padding: 0 20px;box-sizing: border-box;}
.api_list{font-size: 16px;color: #777777;padding: 0 46px; box-sizing: border-box;line-height: 37px;margin-top:15px;}
.api_list ul{background: #fcfcfc;padding: 10px 15px;box-sizing: border-box;border: 1px solid #eeeeee;}
.apisc{height: 100%;position: relative;}

.api_list table {background: #fcfcfc;padding: 10px 15px;box-sizing: border-box;border: 1px solid #eeeeee;}
.api_list table tr th {text-align: left;}


/*23help*/
.helpbox{background: #FFFFFF;margin-top: 20px;padding: 0 25px 320px;box-sizing: border-box;}
.helpbox h1{font-size: 24px;color: #4c4c4c;padding: 18px 0 5px;box-sizing: border-box;border-bottom: 1px solid #e6e6e6;}
.help_tit{color: #656565;font-size: 18px;background: url(../images/btn_sj.png)no-repeat;background-position: 98% 68px; padding: 30px 18px 12px;box-sizing: border-box;border-bottom: 2px solid #e6e6e6;}
.help_list li{position: relative;}
.help_down{display: none; background: #fff5f0;padding: 15px 30px 15px;box-sizing: border-box;font-size: 16px;color: #4c4c4c;line-height: 35px;}
.help_list .active .help_tit{color: #ff7c0a;border-color:#ff7c0a ; background: url(../images/down.png)no-repeat;background-position: 98% 68px;}

/*24客户端下载*/
.client{width: 82.36%;margin: auto;background: #FFFFFF;padding: 50px 0 35px;box-sizing: border-box;margin-top: 46px;}
.client h1{font-size: 36px;color: #4c4c4c;text-align: center;}
.cli_pic{width: 160px;height: 160px;margin:50px auto ;}
.cli_text{text-align: center;font-size: 18px;color: #4c4c4c;}
.ri_away{font-size: 18px;color: #FFFFFF;background: #00adef;cursor: pointer;/*width: 372px;*/ width: 42%; height: 68px;line-height: 68px;text-align: center;border-radius: 6px;margin:40px auto 0;}
.client_use{width: 50%;float: left;}




/*******************************/
.informCenter .selectW,
.prolistSearchW .selectW {width: 100%; height: 40px;}
.prolistSearchW input.searchBtn:hover {background-color: #0B92C4;}
.prolist table th {margin: 0 8px;}
.informStateW em.active {background: url(../images/btn_sj_inform_a.png) no-repeat center;}

.detailSmsH .detailSms {width: 13.322%;}
.detailSmsH input.buttDataTxt {width: 12.688%;}
.detailSmsH input.buttDataBtn,
.detailSmsH a {width: 8.11%;}







